#wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

#leftmenu {
  float: left;
  width: 380px;
  height: 100%;
  background: white;
}

#consolepanel {
  height: 4%;
  background: white;
  border: 1px solid;
}

#consolepanel li {
  background: white;
}

#filterpanel {
  height: 16%;
  background: white;
  border: 1px solid;
  overflow-y: auto;
}

#filterpanel ul {
  padding: 0px 0px 10px 0px;
}

#filterpanel li {
  font-size: 8pt;
 
}

#retrieve {
  overflow-y: auto;
  height: 80%;
}

#newpost {
  display:none;
}

#extra {
  
}

.cont_princ_lists > ul > li  {
  position: relative;
  float: left;
  height: 35px;
  left: 0;
  background-color: #F1F1EF;
  list-style: none;
  z-index: 2;

}

.col_md_1_list {
  width: 120px;
  position: relative;
  float: left;
}

.super {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 700;
}

.col_md_2_list {
  width: 250px;
  position: relative;
  float: left;
}
.col_md_2_list  > h4 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.col_md_2_list  > p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: yell;
}

.col_md_2_list img {
  position: absolute;
  left: 190px;
  bottom: 3px;
}

.list_shopping {
  border: 1px solid;
  width: 99.5%;
}

